<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - SurveyApp.Mvc</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/SurveyApp.Mvc.styles.css" asp-append-version="true" />
    </head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-secondary text-uppercase mb-3" id="mainNav">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Survey App</a>
                <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item mx-0 mx-lg-1">
                            <a class="nav-link py-3 px-0 px-lg-3 rounded" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item mx-0 mx-lg-1">
                            <a class="nav-link py-3 px-0 px-lg-3 rounded" asp-area="" asp-controller="Surveys" asp-action="Index">Surveys</a>
                        </li>
                        <li class="nav-item mx-0 mx-lg-1">
                            <a class="nav-link py-3 px-0 px-lg-3 rounded" asp-area="" asp-controller="Answers" asp-action="Index">Chart</a>
                        </li>
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item mx-0 mx-lg-1">
                                <div class="dropdown">
                                    <a class="nav-link py-3 px-0 px-lg-3 rounded dropdown-toggle" href="" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                                        Admin
                                    </a>
                                    <div class="dropdown-menu bg-secondary" aria-labelledby="dropdownMenuButton">
                                        <a class="nav-link py-3 px-0 px-lg-3 rounded" asp-area="" asp-controller="Surveys" asp-action="Create">Create Survey</a>
                                        <a class="nav-link py-3 px-0 px-lg-3 rounded" asp-area="" asp-controller="Surveys" asp-action="Edit">Edit Survey</a>
                                        <a class="nav-link py-3 px-0 px-lg-3 rounded" asp-area="" asp-controller="Surveys" asp-action="Delete">Delete Survey</a>
                                        <a class="nav-link py-3 px-0 px-lg-3 rounded" asp-area="" asp-controller="Questions" asp-action="Create">Create Question</a>
                                    </div>
                                </div>
                            </li>
                        }
                        <li class="nav-item mx-0 mx-lg-1">
                            <partial name="_LoginPartial" />
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

    <footer class="footer position-relative text-center">
        <div class="container">
            &copy; 2023 - SurveyApp.Mvc - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)
</body>    
</html>
