@model IEnumerable<SurveyDisplayResponse>
@{
    var columnCount = 0;
}

<div class="row">
    @foreach (var surveyDisplay in Model)
    {
        @if (columnCount != 0 && columnCount % 4 == 0)
        {
            @:</div><div class="row m-4">
        }

        <div class="col-3">
            <partial name="_SurveyPartial" model="surveyDisplay" />
        </div>
            
        columnCount++;
    }
</div>