@model IEnumerable<SurveyDisplayResponse>
@{
    var columnCount = 0;
    var isSurveysPage = Context.Request.Path.ToString().Contains("Surveys", StringComparison.OrdinalIgnoreCase);
    var partialName = isSurveysPage ? "_SurveyPartial" : "_ChartDisplay";
}

<div class="row">
    @foreach (var surveyDisplay in Model)
    {
        @if (columnCount != 0 && columnCount % 4 == 0)
        {
            @:</div><div class="row m-4">
        }

        <div class="col-3">
            <partial name="@partialName" model="surveyDisplay" />
        </div>
            
        columnCount++;
    }
</div>
